
    <div class="main_picture">
        <p style=" ">
            Фотография
        </p>



    </div>
    <div class="profile_menu">
        <ul style="float:left; text-align:left;">
            <li style=""><a href="">Мои объявления</a></li>
            <li><a href="">Архив объявлений</a></li>
            <li><a href="">Мои подписчики</a></li>
            <li><a href="">Настройки</a></li>
            <li><a href="">Выйти</a></li>
        </ul>
    </div>

    <div class="object_history">

        <div class="date">
            16.02.2016

        </div>

        <div class="advertisements">
            <div class="nameadvertisements">
                Ищу девушку
            </div>

            Здравствуйте. Помогите найти девушку, которая 15. 02. 2016, около 18:00, играла на скрипке в переходе с Театральной на Золотые Ворота.




        </div>
    </div>




    <div id="footer">


    </div>

