@*using SearchingLibrary;
@model List<Categories>*@

@*<div class="ibox" ng-repeat="category in Categories">
    <a ui-sref=".Announcing({categories_id:{{category.Categories_id}}})" style="color:#013846;">{{category.Name_Category}}</a>
</div>*@
<div ui-view="AnnContainer">

</div>
<h1></h1>
<h2></h2>
<div class="divider"></div>

<div id="footer">

</div>
