<div infinite-scroll="contents.NextPage()" infinite-scroll-disabled="contents.busy" infinite-scroll-distance="0">
    <div  class="object" ng-repeat="content in contents.items">
        <a href="index.html">
            <div class="objectava">
                <a href="asdezz.html">
                    <img class="img-thumbnail img-responsive thumbnail-border" src="images/1.jpg"
                         width="10%" height="10%" alt="Nickname" />
                </a>

            </div>
        </a>
        <div class="tags">
            <a href=""><p>{{content.UserName}} {{content.UserLastName}}</p></a>
        </div>
        <div class="date" ng-click="AddtoSelected(content.Announcing_id)">
            dd/mm/yyyy

        </div>

        <div class="advertisements">
            <div @*ng-click="contents.ScrollTo('top')"*@  ng-click="AddtoSelected(content.Announcing_id)" class="nameadvertisements">
                <!-- Announce title --> 
                {{content.Name_Announcing}}
            </div>

            <!-- Announce text --> 
            {{content.Info_Announcing}}



        </div>

    </div>
    <div ng-click="contents.LoadMore()" ng-show='contents.busy'>Загрузить больше</div>
</div>