<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="appModule" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/7410a5ef10.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Searching</title>
    @Styles.Render("~/bundles/css")
</head>
<body ng-controller="StartController">
    <div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="/" class="navbar-brand">Searching</a>
                </div>
                <div class="navbar" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a aria-expanded="false" role="button" href="/">Home</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li><a ng-click="Clear()" ui-sref="home" style="margin-left:-300px;">Поиск</a></li>
                        <li><a>Уведомления</a></li>
                        <li><a ui-sref="stateAnn">Сообщения</a></li>
                        <li><a href="">Подписки</a></li>
                        <!-- Authentication Links -->
                        <li><a ui-sref="stateProfile" ng-cloak=ng-cloak ng-if="!authUser" style="">Вход</a></li>
                        <li class="dropdown" ng-cloak=ng-cloak ng-if="authUser">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{user.Name}}<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/"><i class="fa fa-btn fa-user"></i> Панель управления</a></li>
                                <li><a ng-click="exit()" href="/"><i class="fa fa-btn fa-sign-out"></i> Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
       
        <div ui-view="ContentContainer" id="content" style="">

        </div>

        <div ui-view="AnntContainer" id="content" style="">

        </div>
        <div>
            <ng-view>

            </ng-view>
        </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> &copy; 2016
                </div>
            </div>

        </div>
    </div> 
    
   

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.7/angular-local-storage.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    
    @Scripts.Render("~/bundles/logic")
</body>
</html>
