
<div class="login" style="margin-right:400px;" >
    <h1>Войти</h1>
    <form name="LoginForm" ng-submit="submit(LoginForm.$valid)">
        <p><input id="login"  type="email" name="email" value="" placeholder="Логин или Email" required ng-model="email"  /></p>
        @*<span class="error" ng-show="LoginForm.email.$error.required">
            Required!
        </span>
        <span class="error" ng-show="LoginForm.email.$error.email">
            Not valid email!
        </span>*@
        <p ng-show="LoginForm.email.$invalid && !LoginForm.email.$pristine" class="help-block">Enter a valid email.</p>
        <p><input id="pass" type="password" name="password" value="" placeholder="Пароль" required ng-model="password" /></p>
        
        @*<p ng-show="LoginForm.password" class="help-block">E-mail or password invalid</p>*@
        <p class="remember_me">
            <label>
                <input type="checkbox" name="remember_me" id="remember_me" />
                Запомнить меня
            </label>
            
        </p>
        <p><a ui-sref="stateRegistration" class="help-block" style="color:blue">Регистрация</a></p>
        <p class="submit"><input  type="submit" name="commit" value="Войти" /></p>
    </form>
</div>





